@use "../../assets/styles/mixins" as mixins;

.header {
  position: relative;
  padding: 10px 20px;
  height: 58px;
    background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  img {
    width: 130px;
  }
}

.headerList  {
  @include mixins.sm {
    display: none;
  }
}

.headerXs {
  display: none;
  cursor: pointer;
  transition: opacity 0.3s;
  @include mixins.xs {
    display: block;
  }
}